.consent-container{
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 30px 15px 30px;
    margin: 0 auto auto auto;
    width: 90%;
    max-width: 960px;
    position: relative;
    z-index: 10;
    box-shadow: -1px 1px 25px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: -1px 1px 25px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 1px 25px -1px rgba(0,0,0,0.31);
}
.consent-content {
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 60vh;
}
.consent-content p{
    text-align:center;
}
