.policy-container{
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto auto auto;
    width: 90%;
    max-width: 1100px;
    position: relative;
    z-index: 10;
    box-shadow: -1px 1px 25px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: -1px 1px 25px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 1px 25px -1px rgba(0,0,0,0.31);
}
.policy-content {
    white-space: pre-wrap;
}

.policy-header {
    color: #fff;
    margin: 30px 0;
    font-size: 26px;
    opacity: 0;
    text-align: center;
    animation: reveal .8s cubic-bezier(0.77, 0, 0.175, 1) 0.2s forwards;
}

.policy-subheader {
    background-color: #f3f3f3;
    color: #343434;
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}


.privacy-content {
    background-color: #e7f1ff;
    color: #343434;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 30px;
    line-height: 30px;
}